[Unit]
Description=Datalogger & Display

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /home/<user>/.local/bin/display-starter
Type=simple
User=<user>
Group=<user>
WorkingDirectory=/home/<user>
Restart=on-failure
